[submodule ".gitignore-boilerplates"]
	path = .gitignore-boilerplates
	url = https://github.com/simonwhitaker/gitignore-boilerplates.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/zeorin/oh-my-zsh.git
[submodule "gitignore-boilerplates-repo"]
	path = gitignore-boilerplates-repo
	url = https://github.com/simonwhitaker/gitignore-boilerplates.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule ".vim/bundle/genutils"]
	path = .vim/bundle/genutils
	url = https://github.com/vim-scripts/genutils.git
	ignore = dirty
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
	ignore = dirty
[submodule ".vim/bundle/nerdtree-tabs"]
	path = .vim/bundle/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
	ignore = dirty
[submodule ".vim/bundle/autocomplpop"]
	path = .vim/bundle/autocomplpop
	url = https://github.com/vim-scripts/AutoComplPop.git
	ignore = dirty
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
	ignore = dirty
[submodule ".vim/bundle/css-color"]
	path = .vim/bundle/css-color
	url = https://github.com/skammer/vim-css-color.git
	ignore = dirty
[submodule ".vim/bundle/css3-syntax"]
	path = .vim/bundle/css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
	ignore = dirty
[submodule ".vim/bundle/csscomb"]
	path = .vim/bundle/csscomb
	url = https://github.com/miripiruni/CSScomb-for-Vim.git
	ignore = dirty
[submodule ".vim/bundle/editorconfig"]
	path = .vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
	ignore = dirty
[submodule ".vim/bundle/jade"]
	path = .vim/bundle/jade
	url = https://github.com/digitaltoad/vim-jade.git
	ignore = dirty
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
	ignore = dirty
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule ".vim/bundle/project"]
	path = .vim/bundle/project
	url = https://github.com/vimplugin/project.vim.git
	ignore = dirty
[submodule ".vim/bundle/php-html-enhanced"]
	path = .vim/bundle/php-html-enhanced
	url = https://github.com/vim-scripts/php.vim-html-enhanced.git
	ignore = dirty
[submodule ".vim/bundle/scss-syntax"]
	path = .vim/bundle/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim.git
	ignore = dirty
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
	ignore = dirty
[submodule ".vim/bundle/tlib"]
	path = .vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
	ignore = dirty
[submodule ".vim/bundle/addon-mw-utils"]
	path = .vim/bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
	ignore = dirty
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule ".vim/bundle/vcscommand"]
	path = .vim/bundle/vcscommand
	url = https://github.com/vim-scripts/vcscommand.vim.git
	ignore = dirty
[submodule ".vim/bundle/manpageview"]
	path = .vim/bundle/manpageview
	url = https://github.com/emezeske/manpageview.git
	ignore = dirty
[submodule ".vim/bundle/loremipsum"]
	path = .vim/bundle/loremipsum
	url = https://github.com/vim-scripts/loremipsum.git
	ignore = dirty
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
	ignore = dirty
[submodule ".vim/bundle/slime"]
	path = .vim/bundle/slime
	url = https://github.com/jpalardy/vim-slime.git
	ignore = dirty
[submodule ".vim/bundle/emmet"]
	path = .vim/bundle/emmet
	url = https://github.com/mattn/emmet-vim
	ignore = dirty
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
	ignore = dirty
[submodule ".vim/bundle/hardmode"]
	path = .vim/bundle/hardmode
	url = git://github.com/wikitopian/hardmode.git
	ignore = dirty
[submodule ".vim/bundle/stylus"]
	path = .vim/bundle/stylus
	url = git@github.com:wavded/vim-stylus.git
[submodule ".vim/bundle/coffee-script"]
	path = .vim/bundle/coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
