[submodule ".gitignore-boilerplates"]
	path = .gitignore-boilerplates
	url = https://github.com/simonwhitaker/gitignore-boilerplates.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = http://github.com/robbyrussell/oh-my-zsh.git
[submodule "gitignore-boilerplates-repo"]
	path = gitignore-boilerplates-repo
	url = https://github.com/simonwhitaker/gitignore-boilerplates.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/genutils"]
	path = .vim/bundle/genutils
	url = https://github.com/vim-scripts/genutils.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/nerdtree-tabs"]
	path = .vim/bundle/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule ".vim/bundle/zencoding"]
	path = .vim/bundle/zencoding
	url = https://github.com/mattn/zencoding-vim
