[submodule ".gitignore-boilerplates"]
	path = .gitignore-boilerplates
	url = https://github.com/simonwhitaker/gitignore-boilerplates.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = http://github.com/robbyrussell/oh-my-zsh.git
[submodule "gitignore-boilerplates-repo"]
	path = gitignore-boilerplates-repo
	url = https://github.com/simonwhitaker/gitignore-boilerplates.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/genutils"]
	path = .vim/bundle/genutils
	url = https://github.com/vim-scripts/genutils.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/nerdtree-tabs"]
	path = .vim/bundle/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule ".vim/bundle/zencoding"]
	path = .vim/bundle/zencoding
	url = https://github.com/mattn/zencoding-vim
[submodule ".vim/bundle/autocomplpop"]
	path = .vim/bundle/autocomplpop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/css-color"]
	path = .vim/bundle/css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule ".vim/bundle/css3-syntax"]
	path = .vim/bundle/css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule ".vim/bundle/csscomb"]
	path = .vim/bundle/csscomb
	url = https://github.com/miripiruni/CSScomb-for-Vim.git
[submodule ".vim/bundle/editorconfig"]
	path = .vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/jade"]
	path = .vim/bundle/jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/php-indent"]
	path = .vim/bundle/php-indent
	url = https://github.com/2072/PHP-Indenting-for-VIm.git
