[user]
	name = Xandor Schiefer
	useConfigOnly = true
[core]
	excludesfile = ~/.cvsignore
	autocrlf = input
	eol = lf
	safecrlf = false
	pager = less --tabs=4 -RFX
	whitespace = trailing-space,space-before-tab
[merge]
	tool = vimdiff
	stat = true
[credential]
	helper = cache
[color]
	ui = auto
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !ungit
	stash-unapply = !git stash show -p | git apply -R
	assume-unchanged = !git ls-files -v | grep '^[[:lower:]]'
	edit-dirty = !git status --porcelain | sed s/^...// | xargs $EDITOR
	tracked-ignores = !git ls-files | git check-ignore --no-index --stdin
[push]
	default = simple
[pager]
	diff = diff-so-fancy | less --tabs=4 --pattern='^(added|deleted|modified): ' -RFX
[interactive]
	diffFilter = diff-so-fancy --patch-mode
[advice]
	statusHints = false
	pushNonFastForward = false
[diff]
	algorithm = patience
	renames = copies
	mnemonicprefix = true
	tool = nvimdiff
[difftool]
	prompt = false
[difftool "nvimdiff"]
	cmd = "$VISUAL -d \"$LOCAL\" \"$REMOTE\""
[merge]
	stat = true
	tool = nvimdiff
[mergetool]
	prompt = false
[mergetool "nvimdiff"]
	cmd = "$VISUAL -d -c '4wincmd w | wincmd J'  \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\""
[branch]
	autosetupmerge = true
[rerere]
	enabled = true
	autoUpdate = true
[log]
	abbrevCommit = true
