[user]
	name = Xandor Schiefer
	email = me@xandor.co.za
[core]
	editor = vim
	excludesfile = ~/.cvsignore
	autocrlf = input
	eol = lf
	safecrlf = false
[merge]
	tool = vimdiff
[credential]
	helper = cache
[color]
	ui = auto
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !ungit
	stash-unapply = !git stash show -p | git apply -R
	assume-unchanged = !git ls-files -v | grep '^[[:lower:]]'
	edit-dirty = !git status --porcelain | sed s/^...// | xargs $EDITOR
[push]
	default = current
