[user]
	name = Xandor Schiefer
	useConfigOnly = true
[core]
	excludesfile = ~/.cvsignore
	autocrlf = input
	eol = lf
	safecrlf = false
	pager = delta --theme \"Solarized (dark)\"
	whitespace = trailing-space,space-before-tab
[credential]
	helper = cache
[color]
	ui = true
[alias]
	a = add
	b = branch
	# Use commitizen if it’s installed, otherwise just use `git commit`
	c = "!f() { if command -v git-cz >/dev/null 2>&1; then git-cz \"$@\"; else git commit \"$@\"; fi; }; f"
	co = checkout
	d = diff
	p = push
	r = rebase
	s = status
	u = !git unstage
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !ungit
	stash-unapply = !git stash show -p | git apply -R
	assume-unchanged = !git ls-files -v | grep '^[[:lower:]]'
	edit-dirty = !git status --porcelain | sed s/^...// | xargs $EDITOR
	tracked-ignores = !git ls-files | git check-ignore --no-index --stdin
	# https://www.erikschierboom.com/2020/02/17/cleaning-up-local-git-branches-deleted-on-a-remote/
	rm-gone = ! "git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
	# https://stackoverflow.com/a/34467298
	l = !git lg
	lg = !git lg1
	lg1 = !git lg1-specific --branches --decorate-refs-exclude=refs/remotes/*
	lg2 = !git lg2-specific --branches --decorate-refs-exclude=refs/remotes/*
	lg3 = !git lg3-specific --branches --decorate-refs-exclude=refs/remotes/*
	lg-all = !git lg1-all
	lg1-all = !git lg1-specific --all
	lg2-all = !git lg2-specific --all
	lg3-all = !git lg3-specific --all
	lg-specific = !git lg1-specific
	lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
	lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
	# https://docs.gitignore.io/use/command-line
	ignore = "!gi() { curl -sL https://www.gitignore.io/api/$@ 2>/dev/null ;}; gi"
[push]
	default = simple
[interactive]
    diffFilter = delta --theme \"Solarized (dark)\" --color-only
[advice]
	statusHints = false
	pushNonFastForward = false
[diff]
	algorithm = patience
	renames = copies
	mnemonicprefix = true
	tool = nvimdiff
	; noprefix = true
[difftool]
	prompt = false
[difftool "nvimdiff"]
	cmd = "$VISUAL -d \"$LOCAL\" \"$REMOTE\""
[merge]
	stat = true
	tool = nvimdiff
[mergetool]
	prompt = false
[mergetool "nvimdiff"]
	cmd = "$VISUAL -d -c '4wincmd w | wincmd J'  \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\""
[branch]
	autosetupmerge = true
[rerere]
	enabled = true
	autoUpdate = true
[log]
	abbrevCommit = true
