# Use VI keybindings for any program that uses GNU readline
set editing-mode vi

# Show all completions as soon as tab is pressed, even if there's more than one.
set show-all-if-ambiguous on

# Ignore case
set completion-ignore-case on
# Color files by types
# Note that this may cause completion text blink in some terminals (e.g. xterm).
set colored-stats on
# Mark symlinked directories
set mark-symlinked-directories on
# Color the common prefix
set colored-completion-prefix on
# Color the common prefix in menu-complete
set menu-complete-display-prefix on

# Don’t print ^C
set echo-control-characters off

set show-mode-in-prompt on
$if term=linux
	set vi-ins-mode-string \1\e[?0c\2
	set vi-cmd-mode-string \1\e[?8c\2
$else
	set vi-ins-mode-string \1\e[6 q\2
	set vi-cmd-mode-string \1\e[2 q\2
$endif

$if mode=vi
	# Keymaps for when we're in command mode
	set keymap vi-command
		"gg": beginning-of-history
		"G": end-of-history
		"\e[A": history-search-backward
		"\e[B": history-search-forward
		j: history-search-forward
		k: history-search-backward

	# Keymaps for when we're in insert mode
	set keymap vi-insert
		"\C-w": backward-kill-word
		"\e[A": history-search-backward
		"\e[B": history-search-forward
		"\C-p": history-search-backward
		"\C-n": history-search-forward
$endif
