[general]
version =        0.1-rc1
verbose =        false
default_action = shutdown
composite =      true
theme =          foom
buttons =        cancel lock logout shutdown restart

[actions]
logout =         i3-msg exit
shutdown =       systemctl poweroff
restart =        systemctl reboot
lock =           lock --pixelate --font Knack-Regular-Nerd-Font-Complete --text 'Type password' -- scrot -z

[shortcuts]
logout =         l
shutdown =       s
restart =        r
lock =           x

[labels]
cancel =         CANCEL
logout =         LOGOUT
restart =        RESTART
shutdown =       SHUTDOWN
lock =           LOCK
