Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!
! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized

! Solarized colours

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

! Common

st.color0:                  S_base02
st.color1:                  S_red
st.color2:                  S_green
st.color3:                  S_yellow
st.color4:                  S_blue
st.color5:                  S_magenta
st.color6:                  S_cyan
st.color7:                  S_base2
st.color8:                  S_base03
st.color9:                  S_orange
st.color10:                 S_base01
st.color11:                 S_base00
st.color12:                 S_base0
st.color13:                 S_violet
st.color14:                 S_base1
st.color15:                 S_base3

! Dark

st.background:              S_base03
st.foreground:              S_base0
st.cursorColor:             S_base1
st.pointerColorBackground:  S_base01
st.pointerColorForeground:  S_base1
st.colorBD:                 S_base3

! Light

! *background:              S_base3
! *foreground:              S_base00
! *cursorColor:             S_base01
! *pointerColorBackground:  S_base1
! *pointerColorForeground:  S_base01
! *colorBD:                 S_base03



!
! Rofi
!

rofi.fullscreen: true
rofi.padding: 250
rofi.eh: 2
rofi.lines: 5
rofi.opacity: 90
rofi.bw: 1
rofi.font: Iosevka Term 10

rofi.fg: S_base0
rofi.bg: S_base02
rofi.fg-active: S_blue
rofi.fg-urgent: S_red
rofi.hlfg-active: S_base3
rofi.hlfg-urgent: S_base3
rofi.bg-active: S_base3
rofi.bg-urgent: S_base3
rofi.hlbg-active: S_blue
rofi.hlbg-urgent: S_red
rofi.bgalt: S_base03
rofi.hlfg: S_base2
rofi.hlbg: S_base01
rofi.bc: S_base03

rofi.color-normal: S_base02, S_base0, S_base03, S_base01, S_base2
rofi.color-urgent: S_base02, S_red, S_base03, S_red, S_base3
rofi.color-active: S_base02, S_blue, S_base03, S_blue, S_base3
rofi.color-window: argb:ee073642, S_base03
