URxvt.termName:             rxvt-unicode-256color
URxvt.depth:                32
URxvt.geometry:             80x25
URxvt.transparent:          false
URxvt.fading:               0
URxvt.urgentOnBell:         true
URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            50
URxvt.internalBorder:       0
URxvt.lineSpace:            0

! Fonts
URxvt.intensityStyles:      true
URxvt.font: xft:Knack Nerd Font:style=Regular:pixelsize=12,xft:EmojiOne Color,xft:Symbola,xft:Unifont
URxvt.boldFont: xft:Knack Nerd Font:style=Bold:pixelsize=12,xft:EmojiOne Color,xft:Symbola,xft:Unifont
URxvt.italicFont: xft:Knack Nerd Font:style=Italic:pixelsize=12,xft:EmojiOne Color,xft:Symbola,xft:Unifont
URxvt.boldItalicFont: xft:Knack Nerd Font:style=Bold Italic:pixelsize=12,xft:EmojiOne Color,xft:Symbola,xft:Unifont

! Fix font space
URxvt.letterSpace: -2
URxvt.skipBuiltinGlyphs: true

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! CTRL+SHIFT should not be bound by URxvt
URxvt.iso14755: false
URxvt.iso14755_52: false

! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Solarized colours

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

! Common

*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color8:                  S_base03
*color9:                  S_orange
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3

! Dark

*background:              S_base03
*foreground:              S_base0
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1
*colorBD:                 S_base3

! Light

! *background:              S_base3
! *foreground:              S_base00
! *cursorColor:             S_base01
! *pointerColorBackground:  S_base1
! *pointerColorForeground:  S_base01
! *colorBD:                 S_base03
